{% extends "layout" %}

{% block content%}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Please login to get started</h1></div>
        {% else %}
        <div class="row">
            {% for category in categories %}
				 {% for critic in category.allCritics %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ critic.title }}
                            <span class="pull-right"><a href="/deleteCritic/{{critic.id}}"><i class="glyphicon glyphicon-trash" style="padding-left:10px;"></i></a></span></div>
                        <div class="panel-body" style="max-height:150px; min-height:150px; overflow-y: scroll;">
							<li style="list-style:none;">{{ critic.title }}
                                    <span class="pull-right"><a href="/editCritic/{{critic.id}}"><i class="glyphicon glyphicon-pencil" style="padding-left:10px"></i></a>
                                    </span>
                                    </li>	
                        </div>
						
						<div class="panel-footer">   
						</div>
                        </div>
                 
                   
                    <div class="modal fade" id="addCritic" tabindex="-1" role="dialog" aria-labelledby="addCriticLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="addCriticLabel">Add new Critic</h4>
                                </div>
                                    <form class="form-horizontal" role="form" method="POST" action="createCritic">
                                            {{ csrfField }}
                                            <div class="modal-body" style="min-height:150px; max-height:150px;">
                                            <div class="form-group">
                                                <label for="title" class="col-xs-3 control-label padding-bottom-5">Critic title</label>
                                                <div class=" col-xs-6">
                                                    <input type="text" class="form-control" id="title" name="title" placeholder="Critic title" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                            <label for="category_id" class="col-xs-3 control-label">Category <i style="color:red">*</i></label>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="category_id" name="category_id">
                                                        {% if category.user_id == currentUser.id %}
                                                        <option value="{{ category.id }}" selected>{{ category.name}}</option>
                                                        {% endif %}  
                                                    </select>
                                                </div>
                                            </div>
											</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success" type="submit" style="color:black">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
				</div>
				</div>
				{% endfor %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}