{% extends "layout"%}
{% block content %}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Please login to get started</h1></div>
        {% else %}
        <center><h1><b> New Critic </b></br></h1></center>
        {% if old('errors') %}
        <div class="panel panel-danger">
            <div class="panel-heading">Errors</div>
            <div class="panel-body">
                <ul>
                    {% for error in old('errors') %}
                    <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        
        <div >
            <form class="form-horizontal" role="form" method="POST" action="/createCritic">
                {{ csrfField }}
                <fieldset>
					<center>
                    <div class="form-group">
                    <label for="title"  class="col-xs-4 control-label">Movie Title <i style="color:red">*</i></label>
                        <div class="col-xs-8 col-sm-10 col-md-6 col-lg-3">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Critic title" value="{{old('title')}}" required>
                        </div>
                    </div>

					<div class="form-group">
                    <label for="category_id" class="col-xs-4 control-label">Category <i style="color:red">*</i></label>
                        <div class="col-xs-8 col-sm-10 col-md-6 col-lg-3">
                            <select class="form-control" id="category_id" name="category_id" required>
                            {% for category in categories %}
                                {#{% if category.user_id == currentUser.id %}#}
                                <option value="{{ category.id }}" {% if category.id == old('category_id') %} selected {% endif %} >
                                    {{ category.name}}</option>
                                {#{% endif %} #} 
                            {% endfor %}
                            </select>
                        </div>

                    </div>
					
					
					
                    <div class="form-group">
                     <label for="description" class="col-xs-3 control-label"> Description<i style="color:red">*</i></label>
                        <div class="col-xs-8 col-sm-10 col-md-6 col-lg-3">
							<textarea rows="15" cols="90" id="description" name="description"></textarea>
						</div>
                    </div>

                    </br>
                    <div class="form-group">
                        <div align="center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Cancel</button>
							
						</div>
                    </div>
					
					</center>
                </fieldset>
            </form>
			<div class="">
           
            <form  role="form" method="POST" action="/addCategory">
                {{ csrfField }}
                <fieldset>
                    <div class="form-group">
                       
                        <div class="">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Genre" value="{{old('name')}}" required>
                            </div>
							<span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">New category</button>
                                </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
		</br></br></br></br></br></br>
        </div>
		
        {% endif %}
        </div>
    </div>
{% endblock %}