{% extends "layout" %}

{% block scripts %}
 <script src="/scripts/delete.js"></script>
 <script src="/scripts/main.js"></script>
 {% endblock %}

{% block content%}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center">
			<h1>
				First step: Login
			</h1>
		</div>
        {% else %}
		<form action="/critics" method="GET">
<!-- <div class="row">
<div class="col-md-4">
<div class="form-group">
<label for="inputRecipeName">Title</label>
<input type="text" class="form-control" placeholder="Movie Title" id="movieTitle" name="movieTitle" value="{{ critic.title }}">
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label for="inputCategory">Category</label>
<select class="form-control" id="inputCategory" name="category">
<option value="">--</option>
{% for category in categorys %}
{% if filters.category == category.id %}
<option value="{{ category.id }}" selected>{{ category.name }}</option>
{% else %}
<option value="{{ category.id }}">{{ category.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>&nbsp;</label>
<button class="btn btn-block btn-primary" type="submit">Szűrés</button>
</div>
</div>
</div>
</form>-->
        <div class="row">
        {% for category in categorys %}
			{% for critic in category.allCritics %}
               <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
                    <div class="panel panel-default">
                       <center> 
							<div class="panel-heading" >
								<h2>
									{{ critic.title }}
								</h2>
								<div></div>
							</div>
						</center>
						<div class="panel-body" style="max-height:200px; min-height:150px; overflow-y: scroll;">
							<ul style="list-style:none;" >
								Genre: {{ category.name }}
							</ul>	
							<div >
                                <center>
									<a href="/viewCritic/{{critic.id}}" type="submit" class="btn btn-info">
										<i class="glyphicon glyphicon-book style="padding-right:10px">
										</i>
										<b>
											Read critic
										</b>
									</a>
								</center>
							</div>
							{% if critic.user_id == currentUser.id %}
							<div style="list-style:none;" align="bottom" >
								<div align="right">
									<i style="opacity:.6">
										This critic is added by you.      
									</i>
									{{ csrfField | safe }}
									<!--<a href="/deleteCritic/{{critic.id}}">-->
									<a id="btnDelete" class="btn btn-danger" href="/deleteCritic/{{critic.id}}" role="button">Töröl</a>
 <i class="glyphicon glyphicon-trash" >
										</i>
 <span class="help-block"></span>
 
 <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
     <div class="modal-dialog modal-sm" role="document">
         <div class="modal-content">
         <div class="modal-body">
             Biztosan törölni szeretnéd?
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-success modal-ok" id="btnDelete" href="/deleteCritic/{{critic.id}}" role="button" data-dismiss="modal">OK</button>
             <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
         </div>
         </div>
     </div>
 </div>
										
									</a>		
								</div>
							</div>	
							{% endif %}
						</div>
                     </div>
                 
                   {#Hidden#}
                    <div class="modal fade" id="addCritic" tabindex="-1" role="dialog" aria-labelledby="addCriticLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
										</button>
                                    <h4 class="modal-title" id="addCriticLabel">
										Add new Critic
									</h4>
                                </div>
								<form class="form-horizontal" role="form" method="POST" action="createCritic">
								{{ csrfField }}
									<div class="modal-body" style="min-height:150px; max-height:150px;">
										<div class="form-group">
											<label for="title" class="col-xs-3 control-label padding-bottom-5">
												Critic title
											</label>
											<div class=" col-xs-6">
												<input type="text" class="form-control" id="title" name="title" placeholder="Critic title" required>
											</div>
										</div>
										<div class="form-group">
											<label for="category_id" class="col-xs-3 control-label">
												Category 
												<i style="color:red">
													*
												</i>
											</label>
											<div class="col-xs-6">
												<select class="form-control" id="category_id" name="category_id">
												{% if category.user_id == currentUser.id %}
													<option value="{{ category.id }}" selected>
														{{ category.name}}
													</option>
												{% endif %}  
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-success" type="submit" style="color:black">
											Save
										</button>
									</div>
								</form>
							</div>
                        </div>
					</div>
				</div>
				{% endfor %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}