{% extends "layout"%}
{% block content %}
<style> 
#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}

#rcorners3 {
     border-radius: 50px 50px 50px 50px;
    background:  	#696969;
    padding: 20px; 
    width: 1000px;
       
}
</style>
<div id="wrapper">
    <div class="container">
    {% if not currentUser %}
      <p class="text-center"><h1>Please login to get started</h1></p>
      {% else %}
        <h1><b> {{ critic.title }}</b></h1>
		<h4><i>{{ critic.category.name }}</i></h4>
        {#{% if critic.user_id == currentUser.id %}#}
        
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" method="POST" action="">
                {{ csrfField }}
                <fieldset>
                   

                    <div class="form-group">
                    
                        <div class="col-xs-6">

                        
                            <div class="panel-body" id="rcorners3"><font size="3" color="white">{{ critic.description }}</font></div>
                       
                           <!-- <input type="text" class="form-control" id="title" name="title" placeholder="Critic title" value="{{ critic.description }}">-->
                    

                        </div>
                    </div>
                    <div class="form-group">


                    <div class="form-group">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                            <a href="/critics" type="Back" class="btn btn-default">Back to the other critics</a>
                            {% if critic.user_id == currentUser.id %}
                                 <a href="/deleteCritic/{{critic.id}}" class="btn btn-danger">Delete critic</a>
                            
                            {% endif %}
                        </div>
                    </div>



                </fieldset>
            </form>
        </div>
        {#{% else %}#}
        {#<div class="text-center"><h3>No matching critic found</h1></div>#}
        {#{% endif %}#}
        {% endif %}
        </div>
        </div>
{% endblock %}