{% extends "layout" %}

{% block content %}
<style> 
.navbar .divider-vertical {
height: 40px;
margin: 0 9px;
border-left: 1px solid #f2f2f2;
border-right: 1px solid #ffffff;
}
.vr {
    width:10px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left:150px;
}

</style> 
<div class="panel-heading"><Center><font color="white"><i>First login to read film critics</i><font></center></div>
<div id="wrapper">
    <div class="container">
        <div class="panel panel-default">
	    	<div class="text-center" style="color:green"><h3>{{registerMessage.success}}</h3></div>
        <div class="text-center" style="color:darkred;font-weight:bold"><h3>{{error}}</h3></div>
        {% if old('errors') %}
            <ul class="text-center">
                {% for error in old('errors') %}
                <li style="list-style:none;color:darkred;font-weight:bold">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
            <div class="panel-body">
                <center>
				<div>
                    <legend style="border:none"><font color="black"><b>Login</b></font></legend></br>
                    <form role="form" class="form-inline" method="POST" action="/login">
                    {{ csrfField }}
                        <fieldset>
						
                            <div class="form-group">
                                <div>	
									<label for="username">Username:
									</label>
                                
										<input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
										<i class="glyphicon glyphicon-user form-control-feedback" style="text-align:left;"></i>
                                </div>
                            </div>
                            <div class="form-group">
							<div>                               
							   <label for="password" style="padding-left:30px">Password:</label>
                               
                                    <input type="password" class="form-control" id="password"  placeholder="Enter password" name="password" required>
                                    <i class="glyphicon glyphicon-lock form-control-feedback" style="text-align:left;"></i>
                                </div>
                            </div>
							<div class="checkbox" style="padding-left:50px">
							<label><input type="checkbox"> Remember me</label>
							</div>
                            <div>
                               
									</br></br>
                                    <button type="Submit" class="btn btn-info"><i class="fa fa-btn fa-sign-in" style="padding-right:10px"></i>Login</button>
                               
                            </div>
                        </fieldset>
                    </form>
                </div>
				</center>
				</br>
				</br>
                <hr>
				</br>
                </hr style="border: 1px solid grey; margin-left:15px; margin-right:15px;" class="visible-xs"/>

			<center>
				
			</center>


					<center>
                    <legend style="border:none"><font color="black"><b>Sign Up</b></font></legend></br>
                    <form class="form-inline" role="form" method="POST" action="/register">
                        {{ csrfField}}
                       <form class="form-inline">
					<div class="form-group">
						<label for="inputUsername">Username:</label>
						<input type="text" class="form-control" id="inputUsername" placeholder="Enter username" name="inputUsername" required>
						<i class="glyphicon glyphicon-user form-control-feedback" style="text-align:left;"></i>
					</div>
					<div class="form-group" style="padding-left:10px">
						<label for="inputEmail">Email:</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" name="inputEmail" required>
                        <i class="glyphicon glyphicon-envelope form-control-feedback" style="text-align:left;"></i>
					</div>
					<div class="form-group" style="padding-left:10px">
						<label for="inputPassword">Password:</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Enter password" name="inputPassword" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*_])[\w!@#$%^&*_]{6,16}$" title="Special characters: !@#$%^&*_" required>
                        <i class="glyphicon glyphicon-lock form-control-feedback" style="text-align:left;"></i>
					</div>
					<div class="form-group" style="padding-left:10px">
						<label for="inputConfirmPassword">Pass. Again:</label>
						<input type="password" class="form-control" id="inputConfirmPassword" placeholder="Enter password again" name="inputConfirmPassword" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*_])[\w!@#$%^&*_]{6,16}$" required>
                        <i class="glyphicon glyphicon-lock form-control-feedback" style="text-align:left;"></i>
					</div>
					<div>
						</br></br>
						<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-log-in"  style="padding-right:10px"></i>Sign Up
						</button>
					</div>
				    </form>
                    </form>
                </div>
            </center>
        </div>
        
</div>
{% endblock %}
