{% extends "layout" %}

{% block content %}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Please login to get started</h1></div>
        {% else %}
        <div class="panel panel-default">
            </br>
            <div class="panel-body">
            </br></br>
                <center><h4 style="color:white"><font size="25">Welcome {{currentUser.username}}! </font></h4></center><br/><br/><br/>
                <h4>
                <p>On this site you can find a lot of good film critics of your favourite movies.</br>
                But first:</p>

                 <li>You have to sign up</li>
                <li>Then you can log in with your account</li>
                <li>And that's it! You can read the critics.</li>
                </br>
                <p>
                If you wish, you are allowed to write your own review about your favourite movies</br>
                There is an option to choose a category from the movie categories, or if you don't find the genre you 
                are looking to, you can add any. 
                After you have choosen the genre you can start to write a description of your oppinion about the movie.
                <p>Click on the Submit button.</p> 
                <p>Later you can modify your review or you can delete too if you wish to.
                </p>
              </p>
                 </h4><br/>
                <p></h3>   
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}