{% extends "layout" %}

{% block content %}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Please login to get started</h1></div>
        {% else %}
        <div class="panel panel-default">
            </br>
            <div class="panel-body">
            </br></br>
                <center><h4 style="color:lightgreen"><font size="25">Welcome {{currentUser.username}}! </font></h4></center><br/><br/><br/>
                <h5>text.</h5><br/>
                <p></h3>   
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}